
<h3>Choose a genre to explore </h3>
<form method="post" action="/genre">
  <select name="choosegenre">
    <% for (item of kpopGenre){%>
      <option>
        <%= item.genre %>
      </option>
     <% } %> 
  </select>
  <input type="submit" />
</form>
<br>
<br>
<br>

<img width="700" src="https://1.bp.blogspot.com/-JDCTPprE7Zs/Xuok-f61u9I/AAAAAAAAILg/BRrd-fWAW5QErDY2apOacsRicYA5jQDaQCK4BGAsYHg/s1280/K-Pop%2BDaebak.jpg" 
 class="rounded mx-auto d-block" alt="genre">

<br>
<br>
<br>
<table class="table table-borderless table-striped" style="background-color: #e3f2fd;">
  <thead>
    <th>Music Genre</th>
  </thead>
  <tbody>
    <% for (item of kpopGenre){%>
      <tr>
        <td> <%= item.genre %> </td> 
        <td> <%= item.intro %> </td>
      </tr>
    <% } %>  
    <tr> <td> ... </td> </tr>
  </tbody>
</table>
<br>
