<br>
<h2>Get to know more of a K-POP idol</h2>
<form method="post" action="/idols">
    Enter idol's name: <input type="text" name="idol">
    <br>
    <input type="submit">    
    <img width="900" src="https://mediummagazine.nl/wp-content/uploads/2021/02/kpop-800x400.jpg" 
    class="rounded mx-auto d-block" alt="concert">
</form>