<h2> About <%= idol %> </h2>

<h4> <i> Group </i> : <%= aboutIdol.Group %> </h4>
<h4> <i> Korean name</i> : <%= aboutIdol.KoreanName %> </h4>
<h4> <i> Birthdate </i> : <%= aboutIdol.Birthdate %> </h4>