<h3>Build Your Music Queue Here</h3>
<br>

<% for (song of songs){%>
    <h4> <%= song.songName %> </h4>
    <h5> <i> genre: </i> <%= song.genre %> </h5>
    <h5> <i> artist: </i> <%= song.artist %> </h5>
    <hr>
<% } %>

<br>
<h2>Add new song to your queue</h2>
<form method="post" action="/queue">
    Song: <input type="text" name="songName"><br>
    Genre: <input type="text" name="genre"><br>
    Artist: <input type="text" name="artist"><br>
    <input type="submit">
</form>